* {
    margin: 0px;
    padding: 0px;
}
@font-face {
font-family: 'bebasneue';
src: url('../../assets/fonte/BebasNeue-Regular.ttf') format('woff2');
}

body{
    box-shadow: #140D4D ;
    height: 100px; 
    background-color: #140D4D;
    justify-content: space-between;
    font-family: 'bebasneue', sans-serif ;
    color: white;

}

.cadastro{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #060033;
    padding: 20px;
    border-radius: 30px;
}

.secao{
    display: flex;
    justify-content: center;
}

.preenchimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_preencher{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
  color: black;
  font-size: 20px;
  width: 500px;
  background-color: white;
  border: none;
  border-radius: 30px;
}

.botao{
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #060033;
    font-size: 30px;
    margin: auto;
}