* {
    margin: 0px;
    padding: 0px;
}
@font-face {
font-family: 'bebasneue';
src: url('../../assets/fonte/BebasNeue-Regular.ttf') format('woff2');
}

body{
    box-shadow: #140D4D ;
    height: 100px; 
    background-color: #140D4D;
    justify-content: space-between;
    font-family: 'bebasneue', sans-serif ;
    color: white;

}

section{
    width: 1241px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emergencia{
    width: 800px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #060033;
    padding: 20px;
    border-radius: 30px;
}
.divsemerg{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.botao{
    color: black;
    text-decoration: none;
    margin-right: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 15px 40px 15px 40px;
    font-size: 30px;
}

.pemerg{
    color: red;
}

.divlig{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
}