* {
    margin: 0px;
    padding: 0px;
}
@font-face {
font-family: 'bebasneue';
src: url('../../assets/fonte/BebasNeue-Regular.ttf') format('woff2');
}

body{
    box-shadow: #140D4D ;
    height: 100px; 
    background-color: #140D4D;
    justify-content: space-between;
    font-family: 'bebasneue', sans-serif ;
    color: white;

}

section{
    width: 1241px;
    margin: auto;
    margin-top: 30px;
}

/*Noticia*/

/*Anuncio seja um heroi*/
.virarheroi{
    background-color: #060033;
    border-radius: 30px;
    margin-bottom: 40px;
}

.divsejaheroi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20PX;
    padding-left: 50PX;
    padding-right: 50PX;
    margin: 20px;
    margin-bottom: 9px;
    border-bottom: 3px solid white;
}


.imgsejaheroi{
    width: 160px;
}

.infosejaheroi{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 300px;
}

.botao{
    background-color: white;
    text-decoration: none;
    color: #140D4D;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    font-size: 20px;
}

.infocomplementares{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

/*Faixa de Herois*/

.faixaherois{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.nomesfaixa{
    width: 122px;
    height: 30px;
}

.nomesfaixamaior{
    width: 110px;
    height: 50px;
}

/*Os sete*/

.imgsete{
    border-radius: 50px;
}

.textosete{
    margin: auto;
    font-size: 30px;
    width: 1000px;
}

.h2sete{
    margin-top: 30px;
    font-size: 50px;
}

/*Carrossel*/

.carrossel {
    width: 900px;
    height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slides {
    display: flex;
    width: 2700px; 
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slides a {
    width: 900px;
    height: 450px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}

.slides img {
    width: 900px;
    height: 450px;
    object-fit: cover;
    display: block;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 18px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#prev { left: 10px; }
#next { right: 10px; }

.btn:hover {
    background: rgba(0,0,0,0.8);
}

/*Principais paginas*/
.prinpag{
    margin-top: 40px;
    width: 1000px;
    margin-left: 120.5px;
    margin-right: 120.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2prinpag{
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 1000px;
    border-bottom: 3px solid white;
}

.divpag{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}