* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'bebasneue';
    src: url('../../assets/fonte/BebasNeue-Regular.ttf') format('woff2');
}

body {
    font-family: 'bebasneue', sans-serif;
    background-color: #140D4D;
    color: white;
    margin: 0;
}

.catalogo {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.catalogo h1 {

    font-size: 50px;
    margin-bottom: 25px;
}

/* card em 4 colunas */
.container-herois {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*Crie 4 colunas de tamanhos iguais, dividindo o espaço da linha em 4 partes.*/
    gap: 15px;
}

.card {
    position: relative;
    width: 100%;
}

.imagem-heroi {
    position: relative;
    width: 100%;
    height: 100%;
}

.foto-heroi {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.nome-heroi {
    position: absolute;
    bottom: 10px;
    width: 90%;
    /* ocupa quase todo o card */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* centraliza o texto */
    font-size: 50px;
    font-weight: 100px;
    color: white;
    background: none;
    text-shadow: 2px 2px 4px black;
    padding: 0;
}