* {
    margin: 0px;
    padding: 0px;
}
 header{
    box-shadow: #140D4D ;
    height: 100px; 
    background-color: #140D4D;
    justify-content: space-between;
    align-items: center;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divcab{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.logo{
    width: 100px; 
    height: 100px;
}

.cabeçalho-paginas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.divbutton{
    margin-right: 20px;
}