.cabeçalho{
    margin-top:-1%;
    margin-left: -0.58%;
    box-shadow: #140D4D ;
     width: 101%;
      height: 100px; 
      background-color: #140D4D;
}

.logo{
    width: 100px; 
    height: 100px;
}

.cabeçalho-paginas{
    display: flex;
    margin-top:-2.5%;
    justify-content: space-around;
    align-items: center;
}